html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 240px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  background-color: var(--bg);
  color: var(--main);
  font-family: "NotoSansKR";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

input:focus {
  outline: none;
}

svg {
  cursor: pointer;
}

/* 라이트모드(기본) */
:root {
  // Text
  --main: #21252f;
  --sub: #636363;
  // Background
  --bg: #f4f4f4;
  --overlay: rgba(0, 0, 0, 0.4);
  --toast: rgba(0, 0, 0, 0.6);
  // Components
  --box: #ffffff;
  --selected: #e8e8e8;
  --sectionLine: #e3e3e3;
  --boxShadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

/* 다크모드 */
[data-theme="Dark"] {
  // Text
  --main: #ffffff;
  --sub: #636363;
  // Background
  --bg: #121212;
  --overlay: rgba(0, 0, 0, 0.7);
  --toast: rgba(88, 88, 88, 0.8);
  // Components
  --box: #1f1f1f;
  --selected: #363636;
  --sectionLine: #292929;
  --boxShadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes slide-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes open-toast {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes close-toast {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}
