:root {
  // Bold
  --bold24: 700 24px/120% NotoSansKR;
  --bold20: 700 20px/120% NotoSansKR;
  --bold18: 700 18px/120% NotoSansKR;
  --bold16: 700 16px/120% NotoSansKR;
  --bold14: 700 14px/120% NotoSansKR;

  // Medium
  --medium20: 500 20px/120% NotoSansKR;
  --medium18: 500 18px/120% NotoSansKR;
  --medium16: 500 16px/120% NotoSansKR;
  --medium14: 500 14px/120% NotoSansKR;
  --medium12: 500 12px/120% NotoSansKR;

  // Normal
  --normal18: 400 18px/120% NotoSansKR;
  --normal16: 400 16px/120% NotoSansKR;
  --normal14: 400 14px/120% NotoSansKR;
  --normal12: 400 12px/120% NotoSansKR;
  --normal10: 400 10px/120% NotoSansKR;
}
