:root {
  // Bold
  --bold24: 700 24px NotoSansKR;
  --bold20: 700 20px NotoSansKR;
  --bold18: 700 18px NotoSansKR;
  --bold16: 700 16px NotoSansKR;
  --bold14: 700 14px NotoSansKR;

  // Medium
  --medium20: 500 20px NotoSansKR;
  --medium18: 500 18px NotoSansKR;
  --medium16: 500 16px NotoSansKR;
  --medium14: 500 14px NotoSansKR;
  --medium12: 500 12px NotoSansKR;

  // Normal
  --normal18: 400 18px NotoSansKR;
  --normal16: 400 16px NotoSansKR;
  --normal14: 400 14px NotoSansKR;
  --normal12: 400 12px NotoSansKR;
  --normal10: 400 10px NotoSansKR;
}
